.venv
__pycache__
env
/data_old
dist
reports
pt/resources/*.pkl
*.eggs
*.egg-info
**/.~lock*
*.ipynb_checkpoints
*.egg
*~
**/node_modules
docker_image_name
version.txt
pandora/build.json
/build.json
qr_frontend/src/report_data
docker-compose.yml
sphinx/*
doc/*
